/******************** TAG SELECTORS ********************/

head {
    background-color: red;
    margin-top: 0em;
}

body {
    background-color: rebeccapurple;
    margin: 0em;
    margin-top: 0em;
}

div {
    background-color: #90B77D;
    margin-top: 0em;
    margin: 0em;
}

h1 {
    background-color: yellow;
    margin-top: 0em;
    padding: 10px;
}

p {
    background-color: rgb(166, 166, 233);
}



.cloud-top {
    position: absolute;
    right: 300px;
    top: 50px;

}

.cloud-bottom {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

/******************** CLASS SELECTORS ********************/

.top-container {
    background-color: darkgoldenrod;
    position: relative;
    padding: 100px;
    margin-left: 0px;
    margin-bottom: 10px;
    text-align: center;
}

.middle-container {
    height: 200px;
    width: 200px;
    background-color: rgb(188, 23, 128);
}

.bottom-container {
    height: 200px;
    width: 200px;
    background-color: rgb(93, 164, 192);
    
}


/******************** ID SELECTORS ********************/