body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background-image: url("/images/manReactsT0Secret.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@font-face {
    font-family: "Typewriter";
    src: url("fonts/momsTypewriter.ttf");
}

.title {
    position: relative;
    left: 2%;
    top: 2%;
    width: 100%;
    
}

.title h1 {
    position: relative;
    color: black;
    backdrop-filter: blur(2.3px);
    font-family: 'Typewriter', monospace;
    font-size: 7rem;
    text-align: left;
    width: fit-content;
    transform: rotate(-15deg);
    text-shadow:
    1px 1px 2px red,
    0 0 1em rgb(227, 114, 114),
    0 0 0.2em rgb(153, 7, 7);
}

button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 100%;
}

.buttonBox {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 20px 55% 5% 5%;
}
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    width: 100%;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 
        2px 2px 2px 0px rgba(0, 0, 0, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.5),
        4px 4px 5px 0px rgba(0, 0, 0, 0.3);
    outline: none;
}

.btn-2 {
    /* background: rgb(96,9,240); */
    /* background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%); */
    border: none;
    
}
.btn-2:before {
    height: 0%;
    width: 2px;
}
.btn-2:hover {
    box-shadow:
    4px 4px 6px 0 rgba(255,255,255,.5),
    -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

#noAuth {
    background: rgb(32, 165, 158);
    background: linear-gradient(0deg, rgba(32, 165, 158,1) 0%, rgba(32, 165, 158,1) 100%);
}

#basicAuth {
    background: rgb(32, 165, 27);
    background: linear-gradient(0deg, rgba(32, 165, 27,1) 0%, rgba(32, 165, 27,1) 100%);
}

#apiKey {
    background: rgb(170, 165, 32);
    background: linear-gradient(0deg, rgba(170, 165, 32,1) 0%, rgba(170, 165, 32,1) 100%);
}

#bearerToken {
    background: rgb(165, 24, 32);
    background: linear-gradient(0deg, rgba(165, 24, 32,1) 0%, rgba(165, 24, 32,1) 100%);
}

.response-area {
    position: relative;
    margin: 10px 10%;
    background-color: rgba(188, 49, 90, 0.3);
    backdrop-filter: blur(2.3px);
    padding: 20px;
    border: black solid 1px;
    border-radius: 5px;
    font-family: "Typewriter";
}

/* Modal */

#description-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    align-content: center;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-title {
    color: #131212;
    font-family: "Typewriter";
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fancy-text {
    position: relative;
    margin-right: 1rem;
    color: black;
    font-family: "Typewriter";
    font-size: 2.5rem;
    transform: rotate(-15deg);
    text-shadow:
    1px 1px 2px red,
    0 0 1em rgb(227, 114, 114),
    0 0 0.2em rgb(153, 7, 7);
}

#modal-content {
    background-color: #0e8ea299;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 1.5rem;
    width: 80%;
    height: 65%;
    backdrop-filter: blur(3px);

}

#modal-content li {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    text-align: left;
    margin: 4% 5%;
}

#open-modal-btn {
    position: fixed;
    right: 1%;
    top: 2%;
    z-index: 1;
    background-color: #f44336;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#close-btn {
    color: #0a0a0a;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}