<!-- Include the header partial -->
<%- include("partials/header.ejs") %>

<!-- Task/Reward List Section -->
<div class="listTitles">
    <span><h1 class="title3">What Do I Need To Do...</h1></span>
    <span><h1 class="title3">... What Is My Reward</h1></span>
</div>

<% if(viewTaskList) { %> <%- include("partials/tasks.ejs") %> <% } else { %> <%-
include("partials/rewards.ejs") %> <% } %>

<!-- jquery script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- jquery strikethrough script -->
<script>
    $(document).ready(function () {
        $(".strikethrough-text").click(function () {
            $(this).toggleClass("completed");
        });
    });
</script>

<!-- jquery active list title script -->
<script>
    $(document).ready(function () {
        $(".title3").click(function () {
            $(this).toggleClass("inactive");
            $("#toggleListsForm").submit();
        });
    });
</script>
<style>
    .inactive {
        color: #ff8c00;
    }
</style>
<!-- Add this form at the end of the index.ejs file -->
<form id="toggleListsForm" action="/toggleLists" method="POST"></form>

<!-- Include the footer partial -->
<%- include("partials/footer.ejs") %>
