<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="styles/main.css">
<title>PROcrasta-List</title>
</head>
<a href="https://johnston-m.com/"> <img class="logo" src="images/jbex05Orange.png" alt="jbex Ibex"></a>
<h1 class="title1">PROcrasta-List</h1>
<h3 class="tagline">crap you dont want to do but need to do</h3>
<body>
    <main>